<form>
  From:<select name="fCurrency" [(ngModel)]="opt1" id="fromCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select><br>
  To:<select name="tCurrency" [(ngModel)]="opt2" id="toCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select>
  <input type="number"[(ngModel)]="amt" name="amount" id="amount">
  <input type="button" value="convert" id="submitButton" (click)="exchange(opt1,opt2,amt)">
  <input type="text" [(ngModel)]="res" id="result">
  <p id="resValue">{{result}}</p>
  </form>